<ion-header>
  <ion-toolbar>

    <!-- Home Button -->
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <!-- Toggle Tile / List View for Movies -->
      <ion-button (click)="viewMode = viewMode === 'grid' ? 'list' : 'grid'">
        <ion-icon [name]="viewMode === 'grid' ? 'list-outline' : 'grid-outline'"></ion-icon>
      </ion-button>
      
    </ion-buttons>

    <!-- Title -->
    <ion-title>{{ person?.name }}</ion-title>

    <!-- Right Side Buttons -->
    <ion-buttons slot="end">

      <ion-button routerLink="/recently-viewed">
        <ion-icon name="time-outline"></ion-icon>
      </ion-button>

        <!-- Dark Mode Toggle -->
        <ion-button (click)="toggleDarkMode()">
          <ion-icon [name]="isDarkMode() ? 'sunny-outline' : 'moon-outline'">
          </ion-icon>
        </ion-button>

        <!-- Favourites -->
        <ion-button routerLink="/favourites">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>

      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="person">

  <div class="person-container">

    <!-- IMAGE -->
    <div class="person-image" *ngIf="person.profile_path; else noImage">
      <img [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" />
    </div>

    <ng-template #noImage>
      <div class="person-image">
        <p>No image</p>
      </div>
    </ng-template>

    <!-- DETAILS -->
    <div class="person-info">

      <h2>{{ person?.name }}</h2>

      <div *ngIf="person.birthday">
        <p><strong>DOB:</strong> {{ person.birthday }}</p>
      </div>

      <div *ngIf="person.deathday">
        <p><strong>DOD:</strong> {{ person.deathday }}</p>
      </div>

      <div *ngIf="person.also_known_as?.length">
        <p><strong>AKA:</strong> {{ person.also_known_as.join(', ') }}</p>
      </div>

      <div *ngIf="person.biography">
        <p>{{ person.biography }}</p>
      </div>
    </div>

  </div>

  <!-- MOVIES -->
  <h2>Other Movies</h2>

  <div class="movie-grid">

    <!-- Clickable area -->
    <div class="movie-tile" *ngFor="let movie of movies">

      <div [routerLink]="['/movie', movie.id]">

        <img [src]="movie.poster_path 
          ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path 
          : 'https://via.placeholder.com/150'" />

        <h3>{{ movie.title }}</h3>

      </div>

      <!-- Details Button -->
      <ion-button color="primary" expand="block" [routerLink]="['/movie', movie.id]">
        Details
      </ion-button>

      <!-- Add / Remove To / From Favourites Button and Icon -->
      <ion-button color="danger" expand="block" (click)="toggleFavourite(movie, $event)">

        <ion-icon [name]="isFavourite(movie.id) ? 'heart' : 'heart-outline'" slot="start">
        </ion-icon>

        {{ isFavourite(movie.id) ? 'Remove Favourite' : 'Add Favourite' }}

      </ion-button>

    </div>

  </div>

</ion-content>