<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <!-- Go Back Button -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <!-- Home Page Button -->
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title class="ion-text-center">
      {{ movie?.title }}
    </ion-title>

    <!-- Right Side Buttons -->
    <ion-buttons slot="end">

      <ion-button routerLink="/recently-viewed">
        <ion-icon name="time-outline"></ion-icon>
      </ion-button>

      <!-- Dark Mode Toggle -->
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode() ? 'sunny-outline' : 'moon-outline'">
        </ion-icon>
      </ion-button>

      <!-- Favourites -->
      <ion-button routerLink="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding full-height">

  <ion-grid class="full-height">

    <ion-row class="stretch-row full-height">

      <!-- LEFT SIDE -->
      <ion-col size="12" size-md="4">

        <ion-card class="left-card">
          <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />

          <div *ngIf="!movie.poster_path" class="no-image">
            No Image Available
          </div>

          <ion-card-header>
            <ion-card-title>{{ movie?.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>

      </ion-col>

      <!-- RIGHT SIDE -->
      <ion-col size="12" size-md="8">

        <div class="right-panel">
          <!-- Description -->
          <ion-card class="flex-item">
            <ion-card-header>
              <ion-card-title>Overview</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{ movie?.overview }}
            </ion-card-content>
          </ion-card>

          <!-- Favourite Button -->
          <ion-button (click)="toggleFavourite()" expand="block" color="danger">
            <ion-icon [name]="isFavourite ? 'heart' : 'heart-outline'" slot="start">
            </ion-icon>
            {{ isFavourite ? 'Remove from Favourites' : 'Add to Favourites' }}
          </ion-button>

          <!-- Cast -->
          <ion-card class="flex-item">
            <ion-card-header>
              <ion-card-title>Cast</ion-card-title>
            </ion-card-header>

            <!-- Make Person Name Clickable -->
            <ion-card-content>
              <ion-chip *ngFor="let person of cast" [routerLink]="['/person', person.id]">

                {{ person.name }}

              </ion-chip>
            </ion-card-content>
          </ion-card>

          <!-- Crew -->
          <ion-card class="flex-item">
            <ion-card-header>
              <ion-card-title>Crew</ion-card-title>
            </ion-card-header>

            <!-- Make Person Name Clickable -->
            <ion-card-content>
              <ion-chip *ngFor="let person of crew" [routerLink]="['/person', person.id]">

                {{ person.name }}

              </ion-chip>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>