/* Tile Layout for Movies Grid */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  gap: 15px;
  justify-content: start;
}

.movie-tile {
  background: var(--ion-item-background);;
  color: var(--ion-text-color);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movie-tile img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-tile h3 {
  font-size: 1.3em;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1.2em;
  height: 2.4em; /* ~2 lines to always have description (p) start at same level in card tile */
  overflow: hidden;
  color: var(--ion-text-color);
}

.movie-tile p {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--ion-text-color);
}


/* Sort By Layout */

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.sort-label {
  font-size: 0.9em;
  color: grey;
}

ion-select {
  max-width: 150px;
}