// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #424242;

  --ion-toolbar-background: #1f1f1f;
  --ion-item-background: #1e1e1e;

  ion-card {
    --background: #1e1e1e;
    color: var(--ion-text-color);

    box-shadow: none;
    border: 1px solid #333;
  }

  ion-card-title {
    color: var(--ion-text-color);
  }

  ion-card-content {
    color: var(--ion-text-color);
  }

  ion-chip {
    --background: #2a2a2a;
    color: #ffffff;
  }

  ion-button[color="danger"] {
    --background: #d32f2f;
  }
}

body.dark ion-searchbar {
  --color: #ffffff;
  --placeholder-color: #aaaaaa;
  --icon-color: #ffffff;
  --background: #1e1e1e;
}