/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

ion-searchbar {
  flex: 1;
}

ion-header {
  backdrop-filter: blur(10px);
}

body.dark ion-button {
  --color: #ffffff;
}

/* Sort By Layout */

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.sort-label {
  font-size: 0.9em;
  color: grey;
}

ion-select {
  max-width: 150px;
}
