<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      G00474404
    </ion-title>

    <ion-buttons slot="end">
      <!-- Dark Mode Toggle -->
      <ion-button (click)="toggleDarkMode()">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>

      <!-- Favourites -->
       <ion-button routerLink="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
       </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Search Bar -->
  <ion-searchbar 
    placeholder="Search movies..."
    [(ngModel)]="searchTerm"
    (ionInput)="onSearch()">
  </ion-searchbar>

  <!-- Section Title -->
  <h2>Today's Trending Movies</h2>

  <!-- Movie Grid (info imported with API from TMDB) -->
  <div class="movie-grid">
    <div class="movie-tile" *ngFor="let movie of movies">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.overview | slice:0:100 }}...</p>
    </div>
  </div>

</ion-content>