<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- Home Button -->
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title class="ion-text-center">
      G00474404
    </ion-title>

    <ion-buttons slot="end">
      <!-- Dark Mode Toggle -->
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode() ? 'sunny-outline' : 'moon-outline'">
        </ion-icon>
      </ion-button>

      <!-- Favourites -->
      <ion-button routerLink="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar>
    <!-- Search Bar -->
    <div class="search-container">

      <ion-searchbar placeholder="Search movies..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch()">
      </ion-searchbar>

      <ion-button (click)="onSearch()" shape="round">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

    </div>

    <!-- Sort Options -->
    <div class="sort-container">

      <span class="sort-label">Sort:</span>

      <ion-select [(ngModel)]="sortOption" (ionChange)="sortMovies()" interface="popover">
        <ion-select-option value="default">Default</ion-select-option>
        <ion-select-option value="az">A → Z</ion-select-option>
        <ion-select-option value="za">Z → A</ion-select-option>
        <ion-select-option value="dateAsc">Oldest</ion-select-option>
        <ion-select-option value="dateDesc">Newest</ion-select-option>
      </ion-select>

    </div>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Section Title -->
  <h2>{{ pageTitle }}</h2>

  <!-- Movie Grid (info imported with API from TMDB) -->
  <div class="movie-grid">
    <div class="movie-tile" *ngFor="let movie of movies">

      <div [routerLink]="['/movie', movie.id]">

        <img [src]="movie.poster_path 
        ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path 
        : 'https://via.placeholder.com/150'" />

        <h3>{{ movie.title }}</h3>

        <p>
          {{ movie.overview ? (movie.overview | slice:0:100) + '...' : 'No description available' }}
        </p>

      </div>

      <!-- Details Button -->
      <ion-button color="primary" expand="block" [routerLink]="['/movie', movie.id]">
        Details
      </ion-button>

      <!-- Add / Remove To / From Favourites Button and Icon -->
      <ion-button color="danger" expand="block" (click)="toggleFavourite(movie, $event)">

        <ion-icon [name]="isFavourite(movie.id) ? 'heart' : 'heart-outline'" slot="start">
        </ion-icon>

        {{ isFavourite(movie.id) ? 'Remove Favourite' : 'Add Favourite' }}

      </ion-button>

    </div>
  </div>

</ion-content>